*
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(219, 221, 224);
    transition: ease-in 0.2s;
}
header
{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: rgb(116, 152, 80);
    padding: 3rem;
    text-align: center;
    color: white;
    transition: ease-in 0.2s;
}
header div a
{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
    transition: ease-in 0.1s;
    padding: 0.3rem;
}
header div a:hover
{
    color: rgb(116, 152, 80);
    background-color: beige;
    border: 0.1rem solid beige;
    border-radius: 0.5rem;
}
#footer2
{
    display: none;
    padding: 3rem;
    margin-top: 3rem;
    text-align: center;
    color: antiquewhite;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(48, 55, 61);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer2 a
{
    color: rgb(116, 152, 80);
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    transition: ease-in 0.1s;
}
#footer2 a:hover
{
    border: 0.1rem solid beige;
    border-radius: 0.5rem;
}
#footer
{
    padding: 3rem;
    margin-top: 3rem;
    text-align: center;
    color: antiquewhite;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(48, 55, 61);
}
#footer div
{
    display: inline;
}
#footer a
{
    color: rgb(116, 152, 80);
    padding: 0.3rem;
    transition: ease-in 0.1s;
}
#footer a:hover
{
   border: 0.1rem solid beige;
   border-radius: 0.5rem;
}
.container
{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 21rem;
    transition: ease-in 1s;
}
.container h3
{
    color: rgb(116, 152, 80);
}
.container div
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
    border-radius: 0.5rem;
    padding: 2rem 1rem 2rem 1rem;
    margin: 2rem;
    transition: ease-in 0.3s;
}
.container div:hover
{
    box-shadow: 0.5rem 0.5rem grey;
}
button img
{
    height: 2rem;
}
#outer_btn
{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dark
{
    background-color: rgb(116, 152, 80);
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    transition: ease-in 0.5s;
}
#light
{
    background-color: rgb(50, 62, 37);
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    transition: ease-in 0.5s;
    display: none;
}
#dark:hover
{
    background-color: rgb(51, 49, 49);
}
#light:hover
{
    background-color: rgb(204, 201, 201);
}
@media(max-width:850px)
{
    .container
    {
        column-gap: 11rem;
    }
}
@media(max-width:720px)
{
    .container
    {
        column-gap: 7rem;
    }
}
@media(max-width:610px)
{
    #footer div
    {
        display: block;
        margin-top: 0.8rem;
    }
}
@media(max-width:580px)
{
    .container
    {
        column-gap: 0;
    }
}
@media(max-width:380px)
{
    .container
    {
        display: block;
    }
    header #navbar
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
    }
    header #navbar a
    {
        margin-right: 0;
        margin-bottom: 0.8rem;
    }
    #footer
    {
        display: none;
    }
    #footer2
    {
        display: flex;
    }
}